In [79]:
import os
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Fetching the database connection details from environment variables
host = os.environ.get('DB_HOST')
user = os.environ.get('DB_USERNAME')
password = os.environ.get('DB_PASSWORD')
database = os.environ.get('DB_DATABASE')
port = os.environ.get('DB_PORT', 3306)  # Default port for MySQL is 3306

try:
    # Establishing the connection
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )

    if connection.is_connected():
        print("Successfully connected to the database")

        # Creating a cursor object to execute SQL queries
        cursor = connection.cursor()

        # SQL query to select data from the 'imdb' table
        query = "SELECT * FROM imdb"

        # Executing the query
        cursor.execute(query)

        # Fetching all rows from the executed query
        rows = cursor.fetchall()

        # Fetching column names from the cursor description
        column_names = [desc[0] for desc in cursor.description]

        # Creating a DataFrame from the fetched data
        df = pd.DataFrame(rows, columns=column_names)

        # Displaying the DataFrame
        print(df)

except Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if cursor:
        cursor.close()
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Successfully connected to the database
     no                                     movie_name  year  \
0     1                       The Shawshank Redemption  1994
1     2                                  The Godfather  1972
2     3                                The Dark Knight  2008
3     4                         The Godfather: Part II  1974
4     5  The Lord of the Rings: The Return of the King  2003
..  ...                                            ...   ...
95   96                                         Am√©lie  2001
96   97                                         Snatch  2000
97   98                            Requiem for a Dream  2000
98   99                                American Beauty  1999
99  100                              Good Will Hunting  1997

                  rating  length                     genre  score
0                   [82]     142                     Drama    9.3
1                   [82]     175              Crime, Drama    9.2
2   [80, 71, 45, 49, 51]     152      Action, Crime, Drama    9.0
3                   [82]     202              Crime, Drama    9.0
4   [80, 71, 45, 49, 51]     201  Action, Adventure, Drama    8.9
..                   ...     ...                       ...    ...
95                  [82]     122           Comedy, Romance    8.3
96                  [82]     102             Comedy, Crime    8.3
97                  [82]     102                     Drama    8.3
98                  [82]     122                     Drama    8.3
99                  [82]     126            Drama, Romance    8.3

[100 rows x 7 columns]
MySQL connection is closed

In [81]:
df_new = df[df['year'] == 2019 ][['movie_name','year']]
df_new

                  movie_name  year
19                  Parasite  2019
32                     Joker  2019
58         Avengers: Endgame  2019
82                      1917  2019
83  Uri: The Surgical Strike  2019
90  Yedinci Kogustaki Mucize  2019

In [83]:
# Fetching the database connection details from environment variables
host = os.environ.get('DB_HOST')
user = os.environ.get('DB_USERNAME')
password = os.environ.get('DB_PASSWORD')
database = os.environ.get('DB_DATABASE')
port = os.environ.get('DB_PORT', 3306)  # Default port for MySQL is 3306

try:
    # Establishing the connection
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )

    if connection.is_connected():
        print("Successfully connected to the database")

        # Creating a cursor object to execute SQL queries
        cursor = connection.cursor()

        # Define the name for the new table
        new_table_name = "new_imdb_table"

        # SQL query to create the new table
        create_table_query = f"""
        CREATE TABLE {new_table_name} (
            movie_name VARCHAR(255),
            year INT
        )
        """

        # Executing the create table query
        cursor.execute(create_table_query)
        print(f"Table '{new_table_name}' created successfully.")

        # Assuming df is your DataFrame with 'movie_name' and 'year' columns
        # Sample DataFrame for illustration (remove if not needed)
        
        df_new = df[df['year'] == 2020 ][['movie_name','year']]
        
        # SQL query to insert data into the new table
        insert_query = f"""
        INSERT INTO {new_table_name} (movie_name, year) 
        VALUES (%s, %s)
        """

        # Preparing the data to insert
        data_to_insert = df_new[['movie_name', 'year']].values.tolist()  # Converting DataFrame to list of lists

        # Inserting data into the new table
        cursor.executemany(insert_query, data_to_insert)
        connection.commit()  # Committing the transaction
        print(f"Inserted {cursor.rowcount} rows into '{new_table_name}' table.")

except Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if cursor:
        cursor.close()
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Successfully connected to the database
Error: 1050 (42S01): Table 'test.new_imdb_table' already exists
MySQL connection is closed

In [85]:
# Fetching the database connection details from environment variables
host = os.environ.get('DB_HOST')
user = os.environ.get('DB_USERNAME')
password = os.environ.get('DB_PASSWORD')
database = os.environ.get('DB_DATABASE')
port = os.environ.get('DB_PORT', 3306)  # Default port for MySQL is 3306

try:
    # Establishing the connection
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )

    if connection.is_connected():
        print("Successfully connected to the database")

        # Creating a cursor object to execute SQL queries
        cursor = connection.cursor()



        # Assuming df is your DataFrame with 'movie_name' and 'year' columns
        # Sample DataFrame for illustration (remove if not needed)
        
        df_new = df[df['year'] == 2020 ][['movie_name','year']]
        
        # SQL query to insert data into the new table
        insert_query = f"""
        INSERT INTO {new_table_name} (movie_name, year) 
        VALUES (%s, %s)
        """

        # Preparing the data to insert
        data_to_insert = df_new[['movie_name', 'year']].values.tolist()  # Converting DataFrame to list of lists

        # Inserting data into the new table
        cursor.executemany(insert_query, data_to_insert)
        connection.commit()  # Committing the transaction
        print(f"Inserted {cursor.rowcount} rows into '{new_table_name}' table.")

except Error as e:
    print(f"Error: {e}")

finally:
    # Closing the cursor and connection
    if cursor:
        cursor.close()
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Successfully connected to the database
Inserted 1 rows into 'new_imdb_table' table.
MySQL connection is closed