In [42]:
from dotenv import load_dotenv
import mysql.connector
import os
import pandas as pd
import sqlalchemy as sa
 
 
host = os.environ.get('DB_HOST')
user = os.environ.get('DB_USERNAME')
password = os.environ.get('DB_PASSWORD')
database = os.environ.get('DB_DATABASE')
port = os.environ.get('DB_PORT')

In [27]:
try:
    # Connect to the database
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port  # Include the port if necessary
    )

    sql_query = "SELECT * FROM imdb"  # Replace with your specific query

    # Read data into a Pandas DataFrame using `pd.read_sql()`
    df = pd.read_sql(sql_query, connection)

except mysql.connector.Error as error:
    print("Error:", error)

finally:
    # Close the cursor and connection objects (important for resource management)
    if cursor:
        cursor.close()
    if connection:
        connection.close()

print("Database connection closed successfully.")

Database connection closed successfully.

C:\Users\nunow0050\AppData\Local\Temp\ipykernel_25684\3028276151.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, connection)

In [29]:
df_new = df[df['year'] == 2019][['movie_name','year']]
df_new

                  movie_name  year
19                  Parasite  2019
32                     Joker  2019
58         Avengers: Endgame  2019
82                      1917  2019
83  Uri: The Surgical Strike  2019
90  Yedinci Kogustaki Mucize  2019

In [33]:
connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port  # Include the port if necessary
    )
cursor = connection.cursor()


try:
    cursor.execute("""
        CREATE TABLE movies (
            movie_name VARCHAR(255) NOT NULL,
            year INT NOT NULL
        );
    """)
    connection.commit()  # Commit the changes to the database
    print("Table created successfully.")

except mysql.connector.Error as err:
    print("Error creating table:", err)

Table created successfully.

In [52]:
import sqlalchemy

engine = sqlalchemy.create_engine(
    "mysql+pymysql://{user}:{password}@{host}:{port}/{db}".format(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
        db='test'
    )
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2291669498.py, line 9)

In [48]:
connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port  # Include the port if necessary
    )
cursor = connection.cursor()

df_new.to_sql(
    'movies',        # Name of the table to be created
    con=connection,           # SQLAlchemy engine connection
    schema='test',   # Database name
    if_exists='replace',  # 'fail', 'replace', or 'append'
    index=False,          # Whether to include the DataFrame's index as a column
    chunksize=1000,       # Number of rows to insert in each chunk (for large DataFrames)
)

C:\Users\nunow0050\AppData\Local\Temp\ipykernel_25684\1680984779.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_new.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement