In [128]:
import requests
import bs4
import pandas as pd

In [47]:
data_list = []

page = 1
while page < 87:
    url = 'https://www.checkraka.com/car/?quicksearch_order=ASC&page=' + str(page)
    print(url)
    page += 1

    #ดึงข้อมูลของ 1 หน้าเวป
    data = requests.get(url)
    
    #แปลงเป็น BeautifulSoup
    soup = bs4.BeautifulSoup(data.text)
    
    #รายละเอียดข้อมูล 1 รายการ
    all_unit_tag = 'div'
    all_unit_attribute = 'class'
    all_unit_value = 'card'
    
    #รายละเอียดข้อมูลชื่อสินค้าในรายการนั้นๆ
    title_tag = 'a'

    #รายละเอียดข้อมูลราคาในสินค้ารายการนั้นๆ
    price_tag = 'label'
  
    
    
    #ดึงทุกรายการ
    all_unit_element = soup.find_all(all_unit_tag,{all_unit_attribute:all_unit_value})
    
    
    #ดึงข้อมูลทีละรายการบันทึกลง List
    for unit in all_unit_element:
        data_dict = dict()
        data_dict['title'] = unit.find(title_tag).text
        data_dict['price'] = unit.find(price_tag).text
        data_list.append(data_dict)
    
    #แจ้งเบื้องต้นว่าทำงานถึงหน้าไหน
    print('Completed page no. ...', page-1)

https://www.checkraka.com/car/?quicksearch_order=ASC&page=1
Completed page no. ... 1
https://www.checkraka.com/car/?quicksearch_order=ASC&page=2
Completed page no. ... 2
https://www.checkraka.com/car/?quicksearch_order=ASC&page=3
Completed page no. ... 3
https://www.checkraka.com/car/?quicksearch_order=ASC&page=4
Completed page no. ... 4
https://www.checkraka.com/car/?quicksearch_order=ASC&page=5
Completed page no. ... 5
https://www.checkraka.com/car/?quicksearch_order=ASC&page=6
Completed page no. ... 6
https://www.checkraka.com/car/?quicksearch_order=ASC&page=7
Completed page no. ... 7
https://www.checkraka.com/car/?quicksearch_order=ASC&page=8
Completed page no. ... 8
https://www.checkraka.com/car/?quicksearch_order=ASC&page=9
Completed page no. ... 9
https://www.checkraka.com/car/?quicksearch_order=ASC&page=10
Completed page no. ... 10
https://www.checkraka.com/car/?quicksearch_order=ASC&page=11
Completed page no. ... 11
https://www.checkraka.com/car/?quicksearch_order=ASC&page=12
Completed page no. ... 12
https://www.checkraka.com/car/?quicksearch_order=ASC&page=13
Completed page no. ... 13
https://www.checkraka.com/car/?quicksearch_order=ASC&page=14
Completed page no. ... 14
https://www.checkraka.com/car/?quicksearch_order=ASC&page=15
Completed page no. ... 15
https://www.checkraka.com/car/?quicksearch_order=ASC&page=16
Completed page no. ... 16
https://www.checkraka.com/car/?quicksearch_order=ASC&page=17
Completed page no. ... 17
https://www.checkraka.com/car/?quicksearch_order=ASC&page=18
Completed page no. ... 18
https://www.checkraka.com/car/?quicksearch_order=ASC&page=19
Completed page no. ... 19
https://www.checkraka.com/car/?quicksearch_order=ASC&page=20
Completed page no. ... 20
https://www.checkraka.com/car/?quicksearch_order=ASC&page=21
Completed page no. ... 21
https://www.checkraka.com/car/?quicksearch_order=ASC&page=22
Completed page no. ... 22
https://www.checkraka.com/car/?quicksearch_order=ASC&page=23
Completed page no. ... 23
https://www.checkraka.com/car/?quicksearch_order=ASC&page=24
Completed page no. ... 24
https://www.checkraka.com/car/?quicksearch_order=ASC&page=25
Completed page no. ... 25
https://www.checkraka.com/car/?quicksearch_order=ASC&page=26
Completed page no. ... 26
https://www.checkraka.com/car/?quicksearch_order=ASC&page=27
Completed page no. ... 27
https://www.checkraka.com/car/?quicksearch_order=ASC&page=28
Completed page no. ... 28
https://www.checkraka.com/car/?quicksearch_order=ASC&page=29
Completed page no. ... 29
https://www.checkraka.com/car/?quicksearch_order=ASC&page=30
Completed page no. ... 30
https://www.checkraka.com/car/?quicksearch_order=ASC&page=31
Completed page no. ... 31
https://www.checkraka.com/car/?quicksearch_order=ASC&page=32
Completed page no. ... 32
https://www.checkraka.com/car/?quicksearch_order=ASC&page=33
Completed page no. ... 33
https://www.checkraka.com/car/?quicksearch_order=ASC&page=34
Completed page no. ... 34
https://www.checkraka.com/car/?quicksearch_order=ASC&page=35
Completed page no. ... 35
https://www.checkraka.com/car/?quicksearch_order=ASC&page=36
Completed page no. ... 36
https://www.checkraka.com/car/?quicksearch_order=ASC&page=37
Completed page no. ... 37
https://www.checkraka.com/car/?quicksearch_order=ASC&page=38
Completed page no. ... 38
https://www.checkraka.com/car/?quicksearch_order=ASC&page=39
Completed page no. ... 39
https://www.checkraka.com/car/?quicksearch_order=ASC&page=40
Completed page no. ... 40
https://www.checkraka.com/car/?quicksearch_order=ASC&page=41
Completed page no. ... 41
https://www.checkraka.com/car/?quicksearch_order=ASC&page=42
Completed page no. ... 42
https://www.checkraka.com/car/?quicksearch_order=ASC&page=43
Completed page no. ... 43
https://www.checkraka.com/car/?quicksearch_order=ASC&page=44
Completed page no. ... 44
https://www.checkraka.com/car/?quicksearch_order=ASC&page=45
Completed page no. ... 45
https://www.checkraka.com/car/?quicksearch_order=ASC&page=46
Completed page no. ... 46
https://www.checkraka.com/car/?quicksearch_order=ASC&page=47
Completed page no. ... 47
https://www.checkraka.com/car/?quicksearch_order=ASC&page=48
Completed page no. ... 48
https://www.checkraka.com/car/?quicksearch_order=ASC&page=49
Completed page no. ... 49
https://www.checkraka.com/car/?quicksearch_order=ASC&page=50
Completed page no. ... 50
https://www.checkraka.com/car/?quicksearch_order=ASC&page=51
Completed page no. ... 51
https://www.checkraka.com/car/?quicksearch_order=ASC&page=52
Completed page no. ... 52
https://www.checkraka.com/car/?quicksearch_order=ASC&page=53
Completed page no. ... 53
https://www.checkraka.com/car/?quicksearch_order=ASC&page=54
Completed page no. ... 54
https://www.checkraka.com/car/?quicksearch_order=ASC&page=55
Completed page no. ... 55
https://www.checkraka.com/car/?quicksearch_order=ASC&page=56
Completed page no. ... 56
https://www.checkraka.com/car/?quicksearch_order=ASC&page=57
Completed page no. ... 57
https://www.checkraka.com/car/?quicksearch_order=ASC&page=58
Completed page no. ... 58
https://www.checkraka.com/car/?quicksearch_order=ASC&page=59
Completed page no. ... 59
https://www.checkraka.com/car/?quicksearch_order=ASC&page=60
Completed page no. ... 60
https://www.checkraka.com/car/?quicksearch_order=ASC&page=61
Completed page no. ... 61
https://www.checkraka.com/car/?quicksearch_order=ASC&page=62
Completed page no. ... 62
https://www.checkraka.com/car/?quicksearch_order=ASC&page=63
Completed page no. ... 63
https://www.checkraka.com/car/?quicksearch_order=ASC&page=64
Completed page no. ... 64
https://www.checkraka.com/car/?quicksearch_order=ASC&page=65
Completed page no. ... 65
https://www.checkraka.com/car/?quicksearch_order=ASC&page=66
Completed page no. ... 66
https://www.checkraka.com/car/?quicksearch_order=ASC&page=67
Completed page no. ... 67
https://www.checkraka.com/car/?quicksearch_order=ASC&page=68
Completed page no. ... 68
https://www.checkraka.com/car/?quicksearch_order=ASC&page=69
Completed page no. ... 69
https://www.checkraka.com/car/?quicksearch_order=ASC&page=70
Completed page no. ... 70
https://www.checkraka.com/car/?quicksearch_order=ASC&page=71
Completed page no. ... 71
https://www.checkraka.com/car/?quicksearch_order=ASC&page=72
Completed page no. ... 72
https://www.checkraka.com/car/?quicksearch_order=ASC&page=73
Completed page no. ... 73
https://www.checkraka.com/car/?quicksearch_order=ASC&page=74
Completed page no. ... 74
https://www.checkraka.com/car/?quicksearch_order=ASC&page=75
Completed page no. ... 75
https://www.checkraka.com/car/?quicksearch_order=ASC&page=76
Completed page no. ... 76
https://www.checkraka.com/car/?quicksearch_order=ASC&page=77
Completed page no. ... 77
https://www.checkraka.com/car/?quicksearch_order=ASC&page=78
Completed page no. ... 78
https://www.checkraka.com/car/?quicksearch_order=ASC&page=79
Completed page no. ... 79
https://www.checkraka.com/car/?quicksearch_order=ASC&page=80
Completed page no. ... 80
https://www.checkraka.com/car/?quicksearch_order=ASC&page=81
Completed page no. ... 81
https://www.checkraka.com/car/?quicksearch_order=ASC&page=82
Completed page no. ... 82
https://www.checkraka.com/car/?quicksearch_order=ASC&page=83
Completed page no. ... 83
https://www.checkraka.com/car/?quicksearch_order=ASC&page=84
Completed page no. ... 84
https://www.checkraka.com/car/?quicksearch_order=ASC&page=85
Completed page no. ... 85
https://www.checkraka.com/car/?quicksearch_order=ASC&page=86
Completed page no. ... 86

In [129]:

vehicle = pd.DataFrame(data_list)
vehicle

                                                  title          price
0     มาสด้า Mazda-BT-50 Double Cab 4X4 3.0 SP 6AT-ป...  1,272,000 บาท
1     เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 350 e...  4,080,000 บาท
2                        เปอโยต์ Peugeot-408 GT-ปี 2024  1,799,000 บาท
3     เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 220 d...  3,930,000 บาท
4               เปอโยต์ Peugeot-408 Allure Plus-ปี 2024  1,599,000 บาท
...                                                 ...            ...
1025              เฟียต Fiat-500 Lounge Premium-ปี 2010  1,850,000 บาท
1026           เฟียต Fiat-500 Limited by Diesel-ปี 2010  1,980,000 บาท
1027                   เฟียต Fiat-500C Standard-ปี 2010  2,190,000 บาท
1028            โปรตอน Proton Saga Base Line MT ปี 2010    399,000 บาท
1029          โปรตอน Proton Saga Medium Line MT ปี 2010    444,000 บาท

[1030 rows x 2 columns]

In [50]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1030 non-null   object
 1   price   1030 non-null   object
dtypes: object(2)
memory usage: 16.2+ KB

In [130]:
vehicle['title'].head(10)

0    มาสด้า Mazda-BT-50 Double Cab 4X4 3.0 SP 6AT-ป...
1    เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 350 e...
2                       เปอโยต์ Peugeot-408 GT-ปี 2024
3    เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 220 d...
4              เปอโยต์ Peugeot-408 Allure Plus-ปี 2024
5                   เปอโยต์ Peugeot-408 Allure-ปี 2024
6     แอสตัน มาร์ติน Aston Martin-DB12 Volante-ปี 2024
7                    ฮอนด้า Honda City Turbo S ปี 2024
8            บีวายดี BYD Sealion6 DM-i Premium ปี 2024
9           จี๊ป Jeep-Wrangler Rubicon 4 doors-ปี 2024
Name: title, dtype: object

In [131]:
import re

def extract_year(text):
    match = re.search(r'ปี (\d{4})', text)
    return match.group(1) if match else None

vehicle['year'] = vehicle['title'].apply(extract_year)

In [132]:
vehicle['year']  = pd.to_numeric(vehicle['year'])

In [133]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1030 non-null   object
 1   price   1030 non-null   object
 2   year    1030 non-null   int64
dtypes: int64(1), object(2)
memory usage: 24.3+ KB

In [134]:
def extract_price(text):
    match = re.search(r'(.+) บาท', text)
    return match.group(1) if match else None

vehicle['price_new'] = vehicle['price'].apply(extract_price)
vehicle['price_new'] = pd.to_numeric(vehicle['price_new'].str.replace(",", ""))

In [135]:
def extract_thai_name(text):
    match = re.search(r'([\u0E00-\u0E7F]+)', text)
    return match.group(1) if match else None

vehicle['thai_name'] = vehicle['title'].apply(extract_thai_name)

In [136]:
vehicle

,title,price,year,price_new,thai_name
0,มาสด้า Mazda-BT-50 Double Cab 4X4 3.0 SP 6AT-ป...,"1,272,000 บาท",2024,1272000.0,มาสด้า
1,เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 350 e...,"4,080,000 บาท",2024,4080000.0,เมอร์เซเดส
2,เปอโยต์ Peugeot-408 GT-ปี 2024,"1,799,000 บาท",2024,1799000.0,เปอโยต์
3,เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 220 d...,"3,930,000 บาท",2024,3930000.0,เมอร์เซเดส
4,เปอโยต์ Peugeot-408 Allure Plus-ปี 2024,"1,599,000 บาท",2024,1599000.0,เปอโยต์
...,...,...,...,...,...
1025,เฟียต Fiat-500 Lounge Premium-ปี 2010,"1,850,000 บาท",2010,1850000.0,เฟียต
1026,เฟียต Fiat-500 Limited by Diesel-ปี 2010,"1,980,000 บาท",2010,1980000.0,เฟียต
1027,เฟียต Fiat-500C Standard-ปี 2010,"2,190,000 บาท",2010,2190000.0,เฟียต
1028,โปรตอน Proton Saga Base Line MT ปี 2010,"399,000 บาท",2010,399000.0,โปรตอน
1029,โปรตอน Proton Saga Medium Line MT ปี 2010,"444,000 บาท",2010,444000.0,โปรตอน

In [145]:
df = vehicle.copy()
df

,title,price,year,price_new,thai_name
0,มาสด้า Mazda-BT-50 Double Cab 4X4 3.0 SP 6AT-ป...,"1,272,000 บาท",2024,1272000.0,มาสด้า
1,เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 350 e...,"4,080,000 บาท",2024,4080000.0,เมอร์เซเดส
2,เปอโยต์ Peugeot-408 GT-ปี 2024,"1,799,000 บาท",2024,1799000.0,เปอโยต์
3,เมอร์เซเดส-เบนซ์ Mercedes-benz E-Class E 220 d...,"3,930,000 บาท",2024,3930000.0,เมอร์เซเดส
4,เปอโยต์ Peugeot-408 Allure Plus-ปี 2024,"1,599,000 บาท",2024,1599000.0,เปอโยต์
...,...,...,...,...,...
1025,เฟียต Fiat-500 Lounge Premium-ปี 2010,"1,850,000 บาท",2010,1850000.0,เฟียต
1026,เฟียต Fiat-500 Limited by Diesel-ปี 2010,"1,980,000 บาท",2010,1980000.0,เฟียต
1027,เฟียต Fiat-500C Standard-ปี 2010,"2,190,000 บาท",2010,2190000.0,เฟียต
1028,โปรตอน Proton Saga Base Line MT ปี 2010,"399,000 บาท",2010,399000.0,โปรตอน
1029,โปรตอน Proton Saga Medium Line MT ปี 2010,"444,000 บาท",2010,444000.0,โปรตอน

In [146]:
df.drop(['price','title'], axis=1, inplace=True)

In [147]:
df

      year  price_new   thai_name
0     2024  1272000.0      มาสด้า
1     2024  4080000.0  เมอร์เซเดส
2     2024  1799000.0     เปอโยต์
3     2024  3930000.0  เมอร์เซเดส
4     2024  1599000.0     เปอโยต์
...    ...        ...         ...
1025  2010  1850000.0       เฟียต
1026  2010  1980000.0       เฟียต
1027  2010  2190000.0       เฟียต
1028  2010   399000.0      โปรตอน
1029  2010   444000.0      โปรตอน

[1030 rows x 3 columns]

In [157]:
df = df.dropna()

In [122]:
import seaborn as sns

In [169]:
df.groupby(['year','thai_name'])[['price_new']].mean()

                     price_new
year thai_name
2010 เฟียต        1.875000e+06
     โปรตอน       4.215000e+05
2011 ลัมโบร์กินี  3.850000e+07
2012 โปรตอน       6.935385e+05
     โรลส์        4.100000e+07
...                        ...
2024 แอสตัน       2.490000e+07
     โตโยต้า      1.080660e+06
     โลตัส        6.740000e+06
     โอร่า        1.049000e+06
     โอโมดา       9.240000e+05

[205 rows x 1 columns]

In [170]:
pip install ydata-profiling

Collecting ydata-profiling
  Obtaining dependency information for ydata-profiling from https://files.pythonhosted.org/packages/5f/35/d4a9e004206c217bfe8838a37663c1b53769ab839e853c4c250b73968cea/ydata_profiling-4.9.0-py2.py3-none-any.whl.metadata
  Downloading ydata_profiling-4.9.0-py2.py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (1.11.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (2.0.3)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (3.7.2)
Collecting pydantic>=2 (from ydata-profiling)
  Obtaining dependency information for pydantic>=2 from https://files.pythonhosted.org/packages/1f/fa/b7f815b8c9ad021c07f88875b601222ef5e70619391ade4a49234d12d278/pydantic-2.8.2-py3-none-any.whl.metadata
  Downloading pydantic-2.8.2-py3-none-any.whl.metadata (125 kB)
     ---------------------------------------- 0.0/125.2 kB ? eta -:--:--
     ------------ ------------------------ 41.0/125.2 kB 653.6 kB/s eta 0:00:01
     -------------------------------------- 125.2/125.2 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (3.1.2)
Collecting visions[type_image_path]<0.7.7,>=0.7.5 (from ydata-profiling)
  Obtaining dependency information for visions[type_image_path]<0.7.7,>=0.7.5 from https://files.pythonhosted.org/packages/7c/bf/612b24e711ae25dea9af19b9304634b8949faa0b035fad47e8bcadf62f59/visions-0.7.6-py3-none-any.whl.metadata
  Downloading visions-0.7.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: numpy<2,>=1.16.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (1.24.3)
Collecting htmlmin==0.1.12 (from ydata-profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting phik<0.13,>=0.11.1 (from ydata-profiling)
  Obtaining dependency information for phik<0.13,>=0.11.1 from https://files.pythonhosted.org/packages/95/e3/250ce99ed761389028543fcb876176ba619f6bf387d6cce3bab736bd92cc/phik-0.12.4-cp311-cp311-win_amd64.whl.metadata
  Downloading phik-0.12.4-cp311-cp311-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling)
  Obtaining dependency information for multimethod<2,>=1.4 from https://files.pythonhosted.org/packages/af/98/cff14d53a2f2f67d7fe8a4e235a383ee71aba6a1da12aeea24b325d0c72a/multimethod-1.12-py3-none-any.whl.metadata
  Downloading multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Collecting typeguard<5,>=3 (from ydata-profiling)
  Obtaining dependency information for typeguard<5,>=3 from https://files.pythonhosted.org/packages/eb/de/be0ba39ee73760bf33329b7c6f95bc67e96593c69c881671e312538e24bb/typeguard-4.3.0-py3-none-any.whl.metadata
  Downloading typeguard-4.3.0-py3-none-any.whl.metadata (3.7 kB)
Collecting imagehash==4.3.1 (from ydata-profiling)
  Obtaining dependency information for imagehash==4.3.1 from https://files.pythonhosted.org/packages/2d/b4/19a746a986c6e38595fa5947c028b1b8e287773dcad766e648897ad2a4cf/ImageHash-4.3.1-py2.py3-none-any.whl.metadata
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Collecting wordcloud>=1.9.1 (from ydata-profiling)
  Obtaining dependency information for wordcloud>=1.9.1 from https://files.pythonhosted.org/packages/f5/b0/247159f61c5d5d6647171bef84430b7efad4db504f0229674024f3a4f7f2/wordcloud-1.9.3-cp311-cp311-win_amd64.whl.metadata
  Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl.metadata (3.5 kB)
Collecting dacite>=1.8 (from ydata-profiling)
  Obtaining dependency information for dacite>=1.8 from https://files.pythonhosted.org/packages/21/0f/cf0943f4f55f0fbc7c6bd60caf1343061dff818b02af5a0d444e473bb78d/dacite-1.8.1-py3-none-any.whl.metadata
  Downloading dacite-1.8.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from ydata-profiling) (0.57.1)
Requirement already satisfied: PyWavelets in c:\users\nunow0050\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in c:\users\nunow0050\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nunow0050\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\nunow0050\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.2.0)
Collecting annotated-types>=0.4.0 (from pydantic>=2->ydata-profiling)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/78/b6/6307fbef88d9b5ee7421e68d78a9f162e0da4900bc5f5793f6d3d0e34fb8/annotated_types-0.7.0-py3-none-any.whl.metadata
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.20.1 (from pydantic>=2->ydata-profiling)
  Obtaining dependency information for pydantic-core==2.20.1 from https://files.pythonhosted.org/packages/35/7f/58758c42c61b0bdd585158586fecea295523d49933cb33664ea888162daf/pydantic_core-2.20.1-cp311-none-win_amd64.whl.metadata
  Downloading pydantic_core-2.20.1-cp311-none-win_amd64.whl.metadata (6.7 kB)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nunow0050\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nunow0050\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nunow0050\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nunow0050\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.11.17)
Requirement already satisfied: patsy>=0.5.2 in c:\users\nunow0050\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\nunow0050\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\nunow0050\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\nunow0050\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in c:\users\nunow0050\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Downloading ydata_profiling-4.9.0-py2.py3-none-any.whl (356 kB)
   ---------------------------------------- 0.0/356.2 kB ? eta -:--:--
   ---------------------------------- ----- 307.2/356.2 kB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 356.2/356.2 kB 7.5 MB/s eta 0:00:00
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
   ---------------------------------------- 0.0/296.5 kB ? eta -:--:--
   --------------------------------------- 296.5/296.5 kB 17.9 MB/s eta 0:00:00
Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading phik-0.12.4-cp311-cp311-win_amd64.whl (667 kB)
   ---------------------------------------- 0.0/667.1 kB ? eta -:--:--
   ----------------------------------- --- 614.4/667.1 kB 12.9 MB/s eta 0:00:01
   --------------------------------------- 667.1/667.1 kB 14.0 MB/s eta 0:00:00
Downloading pydantic-2.8.2-py3-none-any.whl (423 kB)
   ---------------------------------------- 0.0/423.9 kB ? eta -:--:--
   --------------------------------------- 423.9/423.9 kB 25.9 MB/s eta 0:00:00
Downloading pydantic_core-2.20.1-cp311-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------- ----------------- 1.1/1.9 MB 71.0 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 24.3 MB/s eta 0:00:00
Downloading typeguard-4.3.0-py3-none-any.whl (35 kB)
Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl (300 kB)
   ---------------------------------------- 0.0/300.2 kB ? eta -:--:--
   --------------------------------------- 300.2/300.2 kB 19.3 MB/s eta 0:00:00
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading visions-0.7.6-py3-none-any.whl (104 kB)
   ---------------------------------------- 0.0/104.8 kB ? eta -:--:--
   ---------------------------------------- 104.8/104.8 kB ? eta 0:00:00
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27092 sha256=a01dcd61c37ed69a3e5b63d6e21f4f2a5667ab9161c39db40c607a08a19d931c
  Stored in directory: c:\users\nunow0050\appdata\local\pip\cache\wheels\8d\55\1a\19cd535375ed1ede0c996405ebffe34b196d78e2d9545723a2
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, pydantic-core, multimethod, dacite, annotated-types, pydantic, imagehash, wordcloud, visions, phik, ydata-profiling
  Attempting uninstall: pydantic
    Found existing installation: pydantic 1.10.8
    Uninstalling pydantic-1.10.8:
      Successfully uninstalled pydantic-1.10.8
Successfully installed annotated-types-0.7.0 dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.12 phik-0.12.4 pydantic-2.8.2 pydantic-core-2.20.1 typeguard-4.3.0 visions-0.7.6 wordcloud-1.9.3 ydata-profiling-4.9.0
Note: you may need to restart the kernel to use updated packages.

In [171]:
from ydata_profiling import ProfileReport


profile = ProfileReport(df)

# Save the report to an HTML file
profile.to_file("your_report.html")

c:\Users\nunow0050\anaconda3\Lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]